<h1>首頁</h1>
<p><span>In this lesson, we will be going deeper into the expansion cards that can be plugged into motherboards. We will focus on the installation of a video card. It is important to note that the same principles for installing a video card will apply to installing any expansion card. Next, we will cover the central processing units from two major manufacturers: Intel and AMD. Finally, we will review the storage devices that our computers can use.</span></p>
<p><span><img alt="An expansion card with chips on the board and mounts. It is held in a person’s hand." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image1.png"/></span></p>
<h1>Homework</h1>
<h2>PCH 7</h2>
<h3 class="title">Overview</h3>
<p><span style="background-color: #ffffff; color: #ff0000;" title="Quick scroll up">Expansion Slots</span></p>
<p><span title="Quick scroll up"><span>Expansion cards are used to increase and expand a computer’s capability. We can add cards that perform a variety of functions, such as adding more USB, serial, or parallel ports. Communication-based cards can also expand the feature set of the computer through adding a modem or network card. Users who want to play more games may find it useful to add a new video card with better graphics capabilities. Users trying to conserve space could add a TV tuner expansion card to allow the computer to act like a TV to watch cable and record shows like a DVR. Most commonly, though, expansion slots are used to add new ports and features that were not originally available when the computer was made, such as eSATA, FireWire, or USB 3.0 ports.</span></span></p>
<p><span style="color: #ff0000;" title="快速向上滾動">擴展插槽</span></p>
<p><span style="color: #000000;" title="快速向上滾動"><span>擴充卡用於增加和擴展計算機的功能。</span><span>我們可以添加執行各種功能的卡，例如添加更多USB，串行或併行端口。</span><span>基於通信的卡還可以通過添加調製解調器或網卡來擴展計算機的功能集。</span><span>想要玩更多遊戲的用戶可能會發現添加具有更好圖形功能的新視頻卡很有用。</span><span>試圖節省空間的用戶可以添加電視調諧器擴展卡，以使計算機像電視一樣觀看電纜，並像DVR一樣錄製節目。</span><span>但是，最常見的是，擴展槽用於添加新端口和新功能，例如在創建計算機時最初不可用的端口和功能，例如eSATA，FireWire或USB 3.0端口。</span></span></p>
<p><br/><span style="color: #ff0000;" title="Quick scroll up">PCI-PCI-X Slots</span><br/>An expansion slot is a receptacle on the motherboard for expansion cards. The first expansion slot we will discuss is the oldest covered by the CompTIA A+ hardware exam: the peripheral component interconnect (PCI). PCI was originally developed in the early 1990s to provide an expansion slot for network, video, audio, I/O (input/output), modem, and storage host adapter cards. It replaced older technology, such as the industry standard architecture (ISA) card, as a faster and more robust expansion card slot. It was found as a 32-bit interface supporting a maximum<span> </span><a aria-describedby="N10689" class="extra" id=""></a>bus speed<span> </span>of 33 MHz. Later, it also offered a 64-bit variety at a speed of 66 MHz, but even this was not fast enough for the growing demand of faster CPUs. Along came the upgrade, called PCI-X, which is a faster, 64-bit version running at a bus speed of 133 MHz. This PCI-X, which is found on modern computers that still have a PCI/PCI-X slot, is fully backward compatible with older PCI cards, but if you mix them with newer PCI-X cards, the motherboard defaults back to the slower PCI speeds. The latest version, PCI-X 2.0 supports speeds of up to 266 MHz to 533 MHz, but has been replaced by the PCIe (PCI express) card slot standards for better speed/performance.</p>
<p>PCI supports a 32- or 64-bit I/O bus providing compatibility with both 486 and Pentium machines. Here are some facts about this slot:</p>
<ul lang="">
<li lang="">This bus is processor independent (the CPU and the PCI bus can process concurrently).</li>
<li lang="">PCI is plug-and-play, meaning that newly installed devices can be detected and configured automatically.</li>
<li lang="">PCI buses are most commonly used for devices such as sound cards, modems, network cards, and storage device controllers.</li>
<li lang="">The PCI bus is usually 32 bits wide, although 64-bit versions have been used as well. Running at 33 MHz, it can transfer data at 133 MBps (or 266 MBps for 64-bit versions).</li>
</ul>
<p>PCI is an I/O bus that supports both 32- and 64-bit data paths and has been a standard expansion bus since the Intel 80486 (1989) chipset through all versions of Pentium, Apple Computers, and AMD chipsets. While PCI is definitely a legacy architecture, being replaced by PCIe and Thunderbolt interfaces, it is still included on current mainboards and definitely found in service in most computer workstations.</p>
<p><span style="color: #ff0000;" title="快速向上滾動">PCI - PCI-X插槽</span></p>
<p><br/><span>擴展插槽是主板上用於擴展卡的插槽。我們將討論的第一個擴展插槽是CompTIA A +硬件考試涵蓋的最早的插槽：外圍組件互連（PCI）。PCI最初是在1990年代初開發的，旨在為網絡，視頻，音頻，I / O（輸入/輸出），調製解調器和存儲主機適配器卡提供擴展插槽。它取代了較早的技術，例如行業標準體系結構（ISA）卡，以提供更快，更強大的擴展卡插槽。發現它是支持最大<a aria-describedby="N10689" class="extra" id=""></a>總線速度的32位接口<span> </span></span><a aria-describedby="N10689" class="extra" id=""></a><span></span><span>33 MHz。後來，它還以66 MHz的速度提供了64位版本，但是即使這樣也不夠快，無法滿足對更快CPU的不斷增長的需求。隨之而來的升級稱為PCI-X，它是一種更快的64位版本，以133 MHz的總線速度運行。該PCI-X在仍然具有PCI / PCI-X插槽的現代計算機中可以找到，它與舊的PCI卡完全向後兼容，但是如果將它們與更新的PCI-X卡混合使用，則主板默認設置為較慢PCI速度。最新版本的PCI-X 2.0支持最高266 MHz至533 MHz的速度，但已被PCIe（PCI Express）卡插槽標準所取代，以實現更好的速度/性能。</span></p>
<p><span><span>PCI支持32位或64位I / O總線，從而與486和Pentium計算機兼容。</span><span>以下是有關此廣告位的一些事實：</span></span></p>
<ul lang="">
<li lang=""><span><span>該總線獨立於處理器（CPU和PCI總線可以同時處理）。</span></span></li>
<li lang=""><span><span>PCI是即插即用的，這意味著可以自動檢測和配置新安裝的設備。</span></span></li>
<li lang=""><span><span>PCI總線最常用於聲卡，調製解調器，網卡和存儲設備控制器等設備。</span></span></li>
<li lang=""><span><span>儘管也使用了64位版本，但PCI總線通常為32位寬。</span><span>它以33 MHz的速度運行，可以133 Mbps的速率傳輸數據（對於64位版本，則為266 Mbps的速率）。</span></span></li>
</ul>
<p><span><span>PCI是支持32位和64位數據路徑的I / O總線，並且自Intel 80486（1989）芯片組通過所有版本的Pentium，Apple Computers和AMD芯片組以來，一直是標準的擴展總線。</span><span>儘管PCI絕對是一種傳統體系結構，已被PCIe和Thunderbolt接口取代，但它仍包含在當前主板上，並且可以在大多數計算機工作站的服務中找到。</span></span></p>
<p><span style="color: #ff0000;">Summary</span></p>
<ul lang="">
<li lang="">The PCI bus runs independently of the System bus, which allows faster access times for peripheral devices using the expansion card.</li>
<li lang="">PCI is PnP in both the BIOS and modern Operating Systems (WinXP +, Linux, and Apple).</li>
<li lang="">Common PCI bus expansion cards include sound cards, USB cards, Firewire cards, network cards, storage device controller (SCSI) cards, and modem cards.</li>
<li lang="">PCI versions originally used 32-bit and eventually 64-bit data paths with the following speeds:</li>
<li lang="">
<ul lang="">
<li lang="">133 MB/s (32-bit at 33 MHz – the standard configuration)</li>
<li lang="">266 MB/s (32-bit at 66 MHz or 64-bit at 33 MHz)</li>
<li lang="">533 MB/s (64-bit at 66 MHz)</li>
</ul>
</li>
</ul>
<p><span style="color: #ff0000;">概要</span></p>
<ul lang="">
<li lang=""><span>PCI總線獨立於系統總線運行，從而可以使用擴展卡更快地訪問外圍設備。</span></li>
<li lang=""><span>PCI是BIOS和現代操作系統（WinXP +，Linux和Apple）中的PnP。</span></li>
<li lang=""><span>常見的PCI總線擴展卡包括聲卡，USB卡，Firewire卡，網絡卡，存儲設備控制器（SCSI）卡和調製解調器卡。</span></li>
<li lang=""><span>PCI版本最初使用32位數據路徑，最終使用64位數據路徑，速度如下：</span><span></span></li>
<li lang="">
<ul lang="">
<li lang=""><span>133 MB / s（32位，33 MHz –標準配置）</span></li>
<li lang=""><span>266 MB / s（66 MHz時為32位或33 MHz時為64位）</span></li>
<li lang=""><span>533 MB / s（66 MHz時為64位）</span></li>
</ul>
</li>
</ul>
<h3><span style="color: #ff0000;">AGP Slots</span></h3>
<p><span style="color: #000000;"><span>Since PCI was too slow for the newest 3D games that were becoming available in the late 1990s, a new standard port, dedicated to graphics, was needed. In 1996, the advanced graphics port (AGP) was announced and was embraced by 3D gamers for their high-speed video needs. It originally was introduced as a 1x variety, but as faster speeds were needed other varieties were added, including 2x, 4x, and 8x AGP. Each variety uses a different amount of power, as shown in the table below.</span></span></p>
<table align="center" cellspacing="0" class="wbtable" lang="">
<tbody>
<tr class="e" style="height: 14px;">
<td lang="" style="height: 14px;">AGP Card</td>
<td lang="" style="height: 14px;">Voltage Required</td>
</tr>
<tr style="height: 14px;">
<td lang="" style="height: 14px;">1x and 2x cards</td>
<td lang="" style="height: 14px;">3.3 V</td>
</tr>
<tr class="e" style="height: 14px;">
<td lang="" style="height: 14px;">4x</td>
<td lang="" style="height: 14px;">1.5 V</td>
</tr>
<tr style="height: 14px;">
<td lang="" style="height: 14px;">8x</td>
<td lang="" style="height: 14px;">1.5 V or 0.8 V</td>
</tr>
<tr class="e" style="height: 14.625px;">
<td lang="" style="height: 14.625px;">AGP Pro</td>
<td lang="" style="height: 14.625px;">3.3 V</td>
</tr>
</tbody>
</table>
<p id="N106E1" lang="" style="text-align: center;"><br/><img alt="Photograph of AGP card." height="149" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image2.png" width="223"/></p>
<p lang="" style="text-align: center;"><span>AGP card. Photo used under CC-BY-NC-ND license from </span><a href="https://flic.kr/p/bmPX73" id="_i_1" lang="" target="_blank">Grant Hutchinson</a><span>.</span></p>
<p lang="">AGP was dominant for a long period of time, but the introduction of PCIe (PCI express) ultimately led to a large decline in popularity, because PCIe speeds were able to outperform AGP and provide a singular slot type for all devices.</p>
<p id="N106E4" lang="">Motherboards that provide AGP support have a single AGP slot. Several different versions of AGP have been implemented over the years:</p>
<ul lang="">
<li lang="">AGP 1.0 1x: Runs at 66 MHz with a data throughput rate of 266 MBps.</li>
<li lang="">AGP 1.0 2x: Runs at 66 MHz with a data throughput rate of 533 MBps.</li>
<li lang="">AGP 2.0 4x: Runs at 66 MHz with a data throughput rate of 1066 MBps.</li>
<li lang="">AGP 3.0 8x: Runs at 66 MHz with a data throughput rate of 2133 MBps</li>
</ul>
<p style="text-align: center;"><img alt="帶有AGP插槽的主板用紅色矩形表示。" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image3.png"/></p>
<p style="text-align: center;"><span>Motherboard with AGP slot identified inside the red rectangle. Photo used under CC-BY-SA license from </span><a href="https://flic.kr/p/kS2Nb" id="_i_3" lang="" target="_blank">Mario Sanchez Bueno</a><span>.</span></p>
<p>由於PCI對於1990年代後期推出的最新3D遊戲而言太慢了，因此需要專門用於圖形的新標準端口。1996年，高級圖形端口（AGP）正式發布，並因其對高速視頻的需求而受到3D遊戲玩家的歡迎。它最初以1x品種引入，但由於需要更快的速度，因此添加了其他品種，包括2x，4x和8x AGP。每個品種使用不同的電量，如下表所示。</p>
<table align="center" cellspacing="0" class="wbtable" lang="">
<tbody>
<tr class="e">
<td lang=""><span>AGP卡</span></td>
<td lang=""><span>所需電壓</span></td>
</tr>
<tr>
<td lang=""><span>1x和2x卡</span></td>
<td lang=""><span>3.3伏</span></td>
</tr>
<tr class="e">
<td lang=""><span>4倍</span></td>
<td lang=""><span>1.5伏</span></td>
</tr>
<tr>
<td lang=""><span>8倍</span></td>
<td lang=""><span>1.5 V或0.8 V</span></td>
</tr>
<tr class="e">
<td lang=""><span>AGP專業版</span></td>
<td lang=""><span>3.3伏</span></td>
</tr>
</tbody>
</table>
<p lang="" style="text-align: center;"> <img alt="Photograph of AGP card." height="149" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image2.png" width="223"/></p>
<p lang="" style="text-align: center;"><span>GP卡。由<a href="https://flic.kr/p/bmPX73" id="_i_1" lang="" target="_blank"><span><span>Grant Hutchinson</span></span></a><span><span>根據CC-BY-NC-ND許可使用的照片</span><span>。</span></span>.</span></p>
<p lang="">AGP在很長一段時間內一直處於主導地位，但是PCIe（PCI Express）的引入最終導致了流行度的大幅下降，因為PCIe的速度能夠超過AGP並為所有設備提供單一的插槽類型。</p>
<p id="N106E4" lang=""><span><span>提供AGP支持的主板有一個AGP插槽。</span><span>這些年來，已經實現了AGP的幾種不同版本：</span></span></p>
<ul lang="">
<li lang=""><span><span>AGP 1.0 1x：以66 MHz運行，數據吞吐率為266 MBps。</span></span></li>
<li lang=""><span><span>AGP 1.0 2x：以66 MHz運行，數據吞吐率為533 MBps。</span></span></li>
<li lang=""><span><span>AGP 2.0 4x：以66 MHz運行，數據吞吐率為1066 MBps。</span></span></li>
<li lang=""><span><span>AGP 3.0 8x：以66 MHz運行，數據吞吐率為2133 MBps。</span></span></li>
</ul>
<p style="text-align: center;"><span style="color: #ff0000;"><img alt="帶有AGP插槽的主板用紅色矩形表示。" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image3.png"/></span></p>
<p style="text-align: center;">帶有AGP插槽的主板在紅色矩形內標識。照片由<a href="https://flic.kr/p/kS2Nb" id="_i_3" lang="" target="_blank">Mario Sanchez Bueno</a>根據CC-BY-SA許可使用。</p>
<p style="text-align: center;"></p>
<p><span style="color: #ff0000;">PCI Express (PCIe) Expansion Slots</span></p>
<p id="N1070D" lang="">PCIe (PCI express) began replacing PCI, PCI-X, and AGP by 2005. Five slot sizes are available for PCIe: x1, x2, x4, x8, and x16. While x8 is an official standard, it is not very common and hard to find on both motherboards and cards. The two most common PCIe cards are the x1 and x16. PCIe x1 was designed to replace the old PCI cards for networking, modems, audio, input/output, and other needs by connecting to the southbridge. PCIe x16, on the other hand, focused on replacing AGP and PCI-X for high-speed graphics cards, and connects to the northbridge. Most motherboards support numerous types of PCIe, with several x1 and either one or two x16 card slots available. Notably, a smaller PCIe card can fit into larger PCIe slots, but not vice versa. For example, a PCIe x2 can fit into a PCIe x8, but a PCIe x8 cannot fit into a PCIe x2.</p>
<p id="N10710" lang="">PCIe is considered the next generation I/O bus architecture. Rather than a shared bus, each PCIe slot links to a switch that prioritizes and routes data through a point-to-point dedicated connection and provides a serial full-duplex method of transmission. There are different versions of PCIe slots. The maximum number of lanes that can be assigned to the card inserted into the slot is based upon the card’s version. Basic PCIe provides one lane for transmission (x1), at a transfer rate of 250 MBps. It can also provide multiple transmission lanes (x2, x4, x8, x16, x32). Newer versions of PCIe can transfer data at an even higher rate per lane:</p>
<ul lang="">
<li lang="">PCIe Version 1: 250 MBps</li>
<li lang="">PCIe Version 2: 500 MBps</li>
<li lang="">PCIe Version 3: 1 Gbps</li>
<li lang="">PCIe Version 4: 2 Gbps</li>
</ul>
<p id="N10721" lang="">PCIe cards are designated both by size and bandwidth capability. For example, a card may be identified as “single-lane (x1) PCIe with throughput up to 2 Gbps”, which would indicate this card is an x1 size card, and a version 4 card, based on its data transfer rate. Note that “Gbps” refers to “gigabits per second,” the measurement of the rate of data transfer. This should not be confused with a “GB” or “gigabyte,” which refers to the storage capacity of a device. The amount of data lanes in a connection represents the amount of bandwidth between the card and the host: more lanes equals more bandwidth. PCIe x32 cards offer maximum bandwidth, but they are rarely used because of their size.</p>
<p lang="" style="text-align: center;"><img alt="4個PCI插槽的圖形顯示x1，x4，x8和x16" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/Various_PCIe_Slots.jpg"/></p>
<p lang="" style="text-align: center;"><span>PCI slots. Image used under </span><a href="https://creativecommons.org/licenses/by-sa/2.5/deed.en" id="_i_5" lang="" target="_blank">CC-BY-SA</a><span><span> </span>license from<span> </span></span><a href="https://commons.wikimedia.org/wiki/File:Various_PCIe_Slots.jpg" id="_i_6" lang="" target="_blank">Wikimedia Commons</a></p>
<p id="N10736" lang="">In addition to greatly increased speed, PCIe offers higher-quality service. PCIe is backwards compatible and allows legacy PCI technology to be run in the same system (i.e. you can have both PCIe and PCI buses in the same system). PCIe buses are most commonly used for video cards in modern computer systems, although nearly any other device can be designed for a PCIe slot.</p>
<p id="N10739" lang="">Small form factor computers, such as laptops or micro-ATX systems, might include a mini-PCI slot. Mini-PCI devices are small cards with either 100 or 124 pins. A typical use for a mini-PCI slot is to add internal cards (such as wireless cards and cellular cards) to laptops.</p>
<p lang="" style="text-align: center;"><img alt="Computerized drawing of a PCI express slot Isometric with gold pins to insert on motherboard and ports for peripherals." height="438" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image5.jpeg" width="518"/></p>
<p lang="" style="text-align: center;"><span>Video graphics array PCI express slot isometric. Image used with permission: Copyright: </span><a href="http://www.123rf.com/profile_ridjam" id="_i_8" lang="" target="_blank">ridjam / 123RF Stock Photo</a><span>.</span></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW" style="color: #ff0000;"><br/>PCI Express（PCIe）擴展插槽</span></pre>
<p id="N1070D" lang=""><span>PCIe（PCI Express）到2005年開始取代PCI，PCI-X和AGP。PCIe有五個插槽大小可供選擇：x1，x2，x4，x8和x16。雖然x8是官方標準，但它不是很常見，很難在主板和卡上找到。兩種最常見的PCIe卡是x1和x16。PCIe x1旨在通過連接到南橋來替代用於網絡，調製解調器，音頻，輸入/輸出和其他需求的舊PCI卡。另一方面，PCIe x16專注於替換高速圖形卡的AGP和PCI-X，並連接到北橋。大多數主板支持多種類型的PCIe，具有多個x1和一個或兩個x16卡插槽。值得注意的是，較小的PCIe卡可以放入較大的PCIe插槽中，反之亦然。例如，PCIe x2可以插入PCIe x8，</span></p>
<p id="N10710" lang=""><span><span>PCIe被認為是下一代I / O總線體系結構。</span><span>每個PCIe插槽（而不是共享總線）鏈接到交換機，該交換機通過點對點專用連接對數據進行優先級排序和路由，並提供串行全雙工傳輸方法。</span><span>PCIe插槽有不同版本。</span><span>可以為插入插槽中的卡分配的最大通道數取決於卡的版本。</span><span>基本PCIe以250 MBps的傳輸速率提供一個傳輸通道（x1）。</span><span>它還可以提供多個傳輸通道（x2，x4，x8，x16，x32）。</span><span>較新版本的PCIe可以在每個通道上以更高的速率傳輸數據：</span></span></p>
<ul lang="">
<li lang=""><span><span>PCIe版本1：250 MBps</span></span></li>
<li lang=""><span><span>PCIe版本2：500 MBps</span></span></li>
<li lang=""><span><span>PCIe版本3：1 Gbps</span></span></li>
<li lang=""><span><span>PCIe版本4：2 Gbps</span></span></li>
</ul>
<p lang="" style="text-align: center;"></p>
<p lang=""><span>PCIe卡由大小和帶寬功能指定。</span><span>例如，基於其數據傳輸速率，可以將卡標識為“吞吐量高達2 Gbps的單通道（x1）PCIe”，這將表明該卡是x1大小的卡和版本4的卡。</span><span>請注意，“ Gbps”是指“千兆位每秒”，它是數據傳輸速率的度量。</span><span>請勿將其與“ GB”或“ GB”混淆，後者是指設備的存儲容量。</span><span>連接中的數據通道數量表示卡與主機之間的帶寬量：更多的通道等於更多的帶寬。</span><span>PCIe x32卡可提供最大帶寬，但是由於其尺寸而很少使用。</span></p>
<p lang="" style="text-align: center;"><span><span><img alt="4個PCI插槽的圖形顯示x1，x4，x8和x16" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/Various_PCIe_Slots.jpg"/></span></span></p>
<p lang="" style="text-align: center;"><span><span><span>PCI插槽。<a href="https://commons.wikimedia.org/wiki/File:Various_PCIe_Slots.jpg" id="_i_6" lang="" target="_blank">維基共享資源中</a></span><a href="https://creativecommons.org/licenses/by-sa/2.5/deed.en" id="_i_5" lang="" target="_blank"><span><span>CC-BY-SA</span></span></a><span><span>許可</span><span>下使用的圖像</span></span></span></span></p>
<p id="N10736" lang=""><span>除了大大提高速度外，PCIe還提供更高質量的服務。PCIe向後兼容，並允許傳統PCI技術在同一系統中運行（即，您可以在同一系統中同時擁有PCIe和PCI總線）。PCIe總線在現代計算機系統中最常用於視頻卡，儘管幾乎所有其他設備都可以設計用於PCIe插槽。</span></p>
<p id="N10739" lang=""><span><span>小型計算機，例如筆記本電腦或微型ATX系統，可能包含一個微型PCI插槽。</span><span>Mini-PCI設備是具有100或124針的小型卡。</span><span>mini-PCI插槽的典型用法是向筆記本電腦添加內部卡（例如無線卡和蜂窩卡）。</span></span></p>
<p lang="" style="text-align: center;"><img alt="Computerized drawing of a PCI express slot Isometric with gold pins to insert on motherboard and ports for peripherals." height="438" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image5.jpeg" width="518"/></p>
<p lang="" style="text-align: center;"><span>視頻圖形陣列PCI Express插槽等距。該圖片經許可使用：版權：</span><a href="http://www.123rf.com/profile_ridjam" id="_i_8" lang="" target="_blank"><span><span>ridjam / 123RF Stock Photo</span></span></a><span><span>。</span></span></p>
<p><span style="color: #ff0000;" title="Quick scroll up">AMR and CNR Slots</span></p>
<p><span style="color: #ff0000;" title="Quick scroll up"><span style="color: #000000;">The audio modem riser (AMR) card is a specific type of card used to fit additional cards into a compact space. In the photo below, you can see the vertical circuit board plugged into the motherboard, then a PCIe x1 card connected horizontally to it. This vertical card is a riser card. The AMR allows for analog modems and audio connectors to be used on a riser card. The communications network riser (CNR) has largely replaced the AMR, and allows for six-channel digital audio, networking functions, and other high-quality integrated audio support on a riser card. All of these riser cards are proprietary and bundled with the motherboard when originally purchased from the manufacturer. You cannot use a riser card from one manufacturer with another’s motherboard; they are not interchangeable. They were designed to allow for more expansion devices in a smaller amount of space.</span></span></p>
<p style="text-align: center;"><span style="color: #ff0000;" title="Quick scroll up"><span style="color: #000000;"><img alt="The VIA EPIA-M910 mini-ITX board displayed here features a PCI slot that supports PCIe through the PCIE-03 riser card." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image6.png"/></span></span></p>
<p style="text-align: center;"><span style="color: #ff0000;" title="Quick scroll up"><span style="color: #000000;"><span>VIA EPIA-M910 mini-ITX board — PCIE-03 riser card. Photo used under CC-BY license from </span><a href="https://flic.kr/p/bqkCSn" id="_i_10" lang="" target="_blank">VIA Gallery</a><span>.</span></span></span></p>
<p><span style="color: #ff0000;" title="快速向上滾動">AMR和CNR插槽</span></p>
<p><span style="color: #000000;" title="快速向上滾動"><span>音頻調製解調器提升板（AMR）卡是一種特殊類型的卡，用於將其他卡裝入緊湊的空間。</span><span>在下面的照片中，您可以看到垂直電路板已插入主板，然後是水平連接的PCIe x1卡。</span><span>該垂直卡是轉接卡。</span><span>AMR允許在轉接卡上使用模擬調製解調器和音頻連接器。</span><span>通信網絡Riser卡（CNR）已在很大程度上取代了AMR，並允許在Riser卡上支持六通道數字音頻，網絡功能和其他高質量的集成音頻。</span><span>最初從製造商處購買時，所有這些轉接卡都是專有的，並且與主板捆綁在一起。</span><span>您不能將一個製造商的轉接卡與另一製造商的主板一起使用；</span><span>它們是不可互換的。</span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><img alt="The VIA EPIA-M910 mini-ITX board displayed here features a PCI slot that supports PCIe through the PCIE-03 riser card." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image6.png"/></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span>威盛EPIA-M910 mini-ITX闆卡-PCIE-03轉接卡。</span><a href="https://flic.kr/p/bqkCSn" id="_i_10" lang="" target="_blank"><span><span>VIA Gallery</span></span></a><span><span>在CC-BY許可下使用的照片</span><span>。</span></span></span></span></p>
<h3 style="text-align: left;"><span style="color: #ff0000;" title="快速向上滾動">Processors</span></h3>
<p><span style="color: #000000;" title="快速向上滾動"><span>The central processing unit is also known as a CPU or processor. Processors come in two main architectures: 32-bit and 64-bit. We denote 32-bit processors (or applications designed for these processors) as x86. The 64-bit processors and applications are denoted as x64. You can purchase a CPU from either Intel or AMD and it could be x86 or x64, as both companies make both types. The x64 processors allow for larger file sizes, more memory, and complicated programs to run faster and more efficiently. There are three things that differentiate CPU types: 1) socket type (which CPU will fit in which socket); 2) single or multicore design; and 3) the size of its cache. While Intel and AMD are fully compatible in terms of running the Windows operating system, you must actually get the correct software for your type of CPU if you are running UNIX/Linux.</span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><img alt="A modern processor installed on a motherboard held between two fingers." height="360" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image7.jpeg" width="359"/></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span>Modern processor installed on motherboard. Copyright: <a href="http://www.123rf.com/profile_cookelma" id="_i_1" lang="" target="_blank">cookelma/123 RF Stock Photo</a><span>.</span></span></span></p>
<p style="text-align: left;"><span style="color: #000000;" title="快速向上滾動"><span><span>Intel has been making processors for a long time and their contemporary processors all use the land grid array (LGA) socket style. LGA uses spring-loaded “lands” that connect with the bottom of the processor and a hinged clamp mechanism to hold the processor onto the motherboard. The heat sink is then snapped into the mounting holes at the four corners of the processor socket.</span></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span><img alt="Spring-loaded lands and a hinged clamp mechanism mounted on the motherboard." height="279" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image8.jpeg" width="370"/></span></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span>LGA775 socket, prior to CPU installation. Photo used under CC-BY-NC license from <a href="https://www.flickr.com/photos/sntc06/" id="_i_3" lang="" target="_blank">Edward Cai</a><span>.</span></span></span></span></p>
<p id="N106B4" lang="">Intel processors are broken into families of processors, such as the LGA 775, which contains the Pentium 4, Pentium D, Celeron, Core 2 Duo, Core 2 Quad, and Core 2 Extreme. You should be familiar with the names of the various Intel families, such as Pentium, Celeron, Core, and Sandy Bridge. If you are asked if a certain processor is Intel or AMD, you need to be able to make this determination by the name of the processor alone. All the Intel processors you are asked about in the A+ exam have something in common: two repeated digits. If you see a family name such as LGA 1156, you know it is Intel because the number “1” is repeated in the array number. LGA 1366 has a double “6.” This holds true for all the processors asked about in the A+ exam.</p>
<p id="N106B7" lang="">Common Intel land grid arrays:</p>
<ul lang="">
<li lang="">LGA 775 – Pentium 4, Pentium D, Celeron, Core 2 Duo, Core 2 Quad, Core 2 Extreme</li>
<li lang="">LGA 1366 – Core i7 9xx, Xeon series</li>
<li lang="">LGA 1156 – Core i3, Core i5, Core i7 (not 9xx)</li>
<li lang="">LGA 1155 – Sandy Bridge Core i3, Core i5, Core i7 (second-generation)</li>
</ul>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span><span><img alt="A square processor with numerous gold pins surrounding a silver square. The silver square has “Intel Celeron” imprinted on it." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image9.png"/></span></span></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span><span>Intel Celeron processor. Photo used under CC-BY-NC license from <a href="https://flic.kr/p/9e1K3" id="_i_5" lang="" target="_blank">Friedemann W . W</a><span>.</span></span></span></span></span></p>
<p style="text-align: left;"><span style="color: #000000;" title="快速向上滾動"><span><span><span><span>AMD usually uses letters in their naming convention, except for the 940 series. Note “940” does not have double repeating digits. Therefore, you can tell it is not an Intel processor and, instead, it is an AMD processor. All the other families you need to know for the exam are listed with letters: AM2, AM2+, AM3, AM3+, and FM1. AMD also uses a different socket style called the pin grid array (PGA). The pins on the back of the CPU connect to the processor socket with a zero insertion force (ZIF) mechanism. The heat sink clips onto mounting lugs on two sides of the processor instead of the four corners used by Intel. All AMD sockets are PGA, except the “F” family.</span></span></span></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span><span><span><img alt="Two square AMD processors. The processor on the right is positioned pin-side up. The one on the left shows the “AMD 64 Athlon” logo printed on the chip." height="229" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image10.jpeg" width="410"/></span></span></span></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span><span><span>AMD processors. Photo used under CC-BY-NC-ND license from <a href="https://www.flickr.com/photos/lockergnome/310177739/in/photolist-tpK34-9geQ87-dtmAgu-bbvq6p-ttwBQ-7QK9A9-ttwcH-ttwn2-ttvLA-5cbnwB-ttvSy-ttvGj-ttws6-5SVgsv-5SVgqa-5SZBaG-ttvYL-4xs49M-ttw94-ttw4b-8HHwyh-7fFXU6-6RYKrr-6tWe6-3oGFd8-3oGChZ-3oGz7M-3oGw4v-zNmLMp-35jAqP-21EH7t-A84bH2-7A9qa-qLpTR7-rHiFPw-jrTqLy-ttwgb-ttwxr-7QFNvR-7QK67j-7QFTrH-7QFPRB-3UJH2r-9jJUDe-53t9Ec-2eSU4-xmNNH-8Wko8j-aDLxUo-aDGG1H" id="_i_7" lang="" target="_blank">Chris Pirillo</a><span>.</span></span></span></span></span></span></p>
<p style="text-align: left;"><span style="color: #000000;" title="快速向上滾動"><span><span><span><span><span><span>中央處理單元也稱為CPU或處理器。</span><span>處理器採用兩種主要架構：32位和64位。</span><span>我們將32位處理器（或為這些處理器設計的應用程序）表示為x86。</span><span>64位處理器和應用程序表示為x64。</span><span>您可以從Intel或AMD購買CPU，並且可能是x86或x64，因為兩家公司都生產這兩種類型。</span><span>x64處理器允許更大的文件大小，更多的內存以及復雜的程序，以更快，更高效地運行。</span><span>可以區分CPU類型的三件事：1）套接字類型（哪個CPU將適合哪個套接字）；</span><span>2）單核或多核設計；</span><span>3）緩存的大小。</span><span>儘管Intel和AMD在運行Windows操作系統方面完全兼容，</span></span></span></span></span></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><img alt="A modern processor installed on a motherboard held between two fingers." height="360" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image7.jpeg" width="359"/></span></span></p>
<p style="text-align: center;"><span>安裝在主板上的現代處理器。版權所有：</span><a href="http://www.123rf.com/profile_cookelma" id="_i_1" lang="" target="_blank"><span><span>cookelma / 123 RF股票照片</span></span></a><span><span>。</span></span></p>
<p style="text-align: left;"><span style="color: #000000;" title="快速向上滾動"><span>英特爾長期以來一直在生產處理器，其現代處理器均使用陸地柵格陣列（LGA）插槽樣式。</span><span>LGA使用彈簧加載的“平台”，該平台與處理器的底部連接，並通過鉸鍊式夾緊機構將處理器固定在主板上。</span><span>然後將散熱器卡入處理器插槽四個角上的安裝孔。</span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><img alt="Spring-loaded lands and a hinged clamp mechanism mounted on the motherboard." height="279" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image8.jpeg" width="370"/></span></span></p>
<p style="text-align: center;"><span>在安裝CPU之前，先安裝LGA775插槽。</span><a href="https://www.flickr.com/photos/sntc06/" id="_i_3" lang="" target="_blank"><span><span>愛德華·蔡</span></span></a><span><span>（</span><a href="https://www.flickr.com/photos/sntc06/" id="_i_3" lang="" target="_blank"><span>Edward Cai）</span></a><span>根據CC-BY-NC許可使用的照片</span><span>。</span></span></p>
<p id="N106B4" lang=""><span>英特爾處理器分為多個處理器家族，例如LGA 775，其中包含奔騰4，奔騰D，賽揚，Core 2 Duo，Core 2 Quad和Core 2 Extreme。您應該熟悉各種Intel系列的名稱，例如Pentium，Celeron，Core和Sandy Bridge。如果詢問您某個處理器是Intel還是AMD，則需要能夠僅通過處理器的名稱來進行此確定。您在A +考試中被詢問的所有英特爾處理器都有一些共同點：兩個重複的數字。如果看到諸如LGA 1156之類的家族名稱，您就知道它是Intel，因為陣列編號中重複了數字“ 1”。LGA 1366具有雙“ 6”。對於A +考試中要求的所有處理器，這都是正確的。</span></p>
<p id="N106B7" lang=""><span><span>常見的英特爾陸地網格陣列：</span></span></p>
<ul lang="">
<li lang=""><span><span>LGA 775 –奔騰4，奔騰D，賽揚，Core 2 Duo，Core 2 Quad，Core 2 Extreme</span></span></li>
<li lang=""><span><span>LGA 1366 – Core i7 9xx，Xeon系列</span></span></li>
<li lang=""><span><span>LGA 1156 –酷睿i3，酷睿i5，酷睿i7（非9xx）</span></span></li>
<li lang=""><span><span>LGA 1155 – Sandy Bridge Core i3，Core i5，Core i7（第二代）</span></span></li>
</ul>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><img alt="A square processor with numerous gold pins surrounding a silver square. The silver square has “Intel Celeron” imprinted on it." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image9.png"/></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span><span>英特爾賽揚處理器。圖片由<a href="https://flic.kr/p/9e1K3" id="_i_5" lang="" target="_blank"><span><span>Friedemann W</span></span></a><span><span>根據CC-BY-NC許可使用</span></span></span></span></span></span></p>
<p style="text-align: left;"><span style="color: #000000;" title="快速向上滾動"><span>除940系列外，AMD通常在其命名約定中使用字母。</span><span>注意“ 940”沒有重複的兩位數。</span><span>因此，您可以說它不是Intel處理器，而是AMD處理器。</span><span>您需要通過考試知道的所有其他其他家庭都列出了以下字母：AM2，AM2 +，AM3，AM3 +和FM1。</span><span>AMD還使用了另一種插座樣式，稱為引腳網格陣列（PGA）。</span><span>CPU背面的引腳通過零插入力（ZIF）機制連接到處理器插槽。</span><span>散熱器夾在處理器兩側的安裝凸耳上，而不是英特爾使用的四個角。</span><span>除“ F”系列外，所有AMD插槽均為PGA。</span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><img alt="Two square AMD processors. The processor on the right is positioned pin-side up. The one on the left shows the “AMD 64 Athlon” logo printed on the chip." height="229" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image10.jpeg" width="410"/></span></span></p>
<p style="text-align: center;"><span>AMD處理器。照片由</span><a href="https://www.flickr.com/photos/lockergnome/310177739/in/photolist-tpK34-9geQ87-dtmAgu-bbvq6p-ttwBQ-7QK9A9-ttwcH-ttwn2-ttvLA-5cbnwB-ttvSy-ttvGj-ttws6-5SVgsv-5SVgqa-5SZBaG-ttvYL-4xs49M-ttw94-ttw4b-8HHwyh-7fFXU6-6RYKrr-6tWe6-3oGFd8-3oGChZ-3oGz7M-3oGw4v-zNmLMp-35jAqP-21EH7t-A84bH2-7A9qa-qLpTR7-rHiFPw-jrTqLy-ttwgb-ttwxr-7QFNvR-7QK67j-7QFTrH-7QFPRB-3UJH2r-9jJUDe-53t9Ec-2eSU4-xmNNH-8Wko8j-aDLxUo-aDGG1H" id="_i_7" lang="" target="_blank"><span><span>Chris Pirillo</span></span></a><span><span>根據CC-BY-NC-ND許可</span><a href="https://www.flickr.com/photos/lockergnome/310177739/in/photolist-tpK34-9geQ87-dtmAgu-bbvq6p-ttwBQ-7QK9A9-ttwcH-ttwn2-ttvLA-5cbnwB-ttvSy-ttvGj-ttws6-5SVgsv-5SVgqa-5SZBaG-ttvYL-4xs49M-ttw94-ttw4b-8HHwyh-7fFXU6-6RYKrr-6tWe6-3oGFd8-3oGChZ-3oGz7M-3oGw4v-zNmLMp-35jAqP-21EH7t-A84bH2-7A9qa-qLpTR7-rHiFPw-jrTqLy-ttwgb-ttwxr-7QFNvR-7QK67j-7QFTrH-7QFPRB-3UJH2r-9jJUDe-53t9Ec-2eSU4-xmNNH-8Wko8j-aDLxUo-aDGG1H" id="_i_7" lang="" target="_blank"><span>使用</span></a><span>。</span></span></p>
<p><span style="color: #ff0000;" title="Quick scroll up">Overclocking</span></p>
<p><span style="color: #000000;" title="Quick scroll up"><span>Overclocking is the process of running a processor, component, or bus at speeds higher than normal design specifications allow. This can be configured in the BIOS of the machine, if supported. This is a very dangerous practice, since it leads to system instability that causes crashes and higher error rates. Additionally, overclocking components makes them run hotter, which can damage them and shorten their lifespan. More power is consumed in overclocking, which creates more heat, and requires more cooling. It is not recommended to overclock your machine for most users, and should never be used in production (work) machines. Overclocking is highly popular in the gaming community, and requires specialized cooling systems to be in place, such as liquid cooling.</span></span></p>
<p><span style="color: #ff0000;" title="Quick scroll up">Choosing a Processor</span></p>
<p><span style="color: #000000;" title="Quick scroll up"><span>So which socket and processor is better: Intel or AMD? It depends on the user. For most users, they are fairly equivalent. But high-end gamers who like to overclock their machines tend to select AMD because it allows for more overclocking than the Intel systems.</span></span></p>
<p><span style="color: #ff0000;" title="Quick scroll up">CPU Cache</span></p>
<p id="N1070A" lang="">The CPU is more than just the processor — it also contains cache memory. This is a very small amount of memory that provides the fastest memory available to the CPU. Most CPUs have a level 1 and level 2 cache, but some even have a level 3 cache. Because the processor operates so quickly, we want the most-frequently-used information to end up in the cache to speed up the processing. When the processor needs information, it first checks the location “closest” to it (level 1 cache). If the information is not in the level 1 cache, the CPU then checks level 2, then level 3. If the information is not in either of those cache levels, the CPU then reaches out to the system RAM (the next fastest location), and if the information is not there, the CPU then looks to the hard disk drive (the slowest location). By continually trying to find the information closer and more quickly, the processor operations are sped up.</p>
<p id="N1070D" lang="">System performance is improved through the use of cache memory, by enabling the processor to use recent memory locations (cache) rather than retrieving information from main memory.</p>
<p id="N10710" lang="">The bottom line when it comes to cache and performance — larger cache results in faster CPU performance.</p>
<p><span style="color: #ff0000;" title="快速向上滾動">超頻</span></p>
<p><span title="快速向上滾動"><span>超頻是指以高於正常設計規格允許的速度運行處理器，組件或總線的過程。</span><span>如果支持，可以在計算機的BIOS中進行配置。</span><span>這是非常危險的做法，因為它會導致系統不穩定，從而導致崩潰和更高的錯誤率。</span><span>此外，超頻組件會使它們運行溫度更高，這可能會損壞它們並縮短其使用壽命。</span><span>超頻會消耗更多的功率，從而產生更多的熱量並需要更多的散熱。</span><span>不建議大多數用戶對計算機進行超頻，並且切勿在生產（工作）計算機上使用該計算機。</span><span>超頻在遊戲界非常流行，並且需要使用專門的冷卻系統，例如液體冷卻。</span></span></p>
<p><span style="color: #ff0000;" title="快速向上滾動">選擇處理器</span></p>
<p><span title="快速向上滾動"><span>那麼哪個插座和處理器更好：Intel還是AMD？</span><span>這取決於用戶。</span><span>對於大多數用戶來說，它們是相當等效的。</span></span><span title="快速向上滾動"><span>但是喜歡對自己的計算機進行超頻的高端遊戲玩家傾向於選擇AMD，因為它比Intel系統支持更多的超頻。</span></span></p>
<p><span style="color: #ff0000;" title="快速向上滾動">CPU緩存</span></p>
<p id="N1070A" lang=""><span>CPU不僅僅是處理器-它還包含高速緩存。這是非常少量的內存，可為CPU提供最快的內存。大多數CPU具有1級和2級緩存，但有些甚至具有3級緩存。由於處理器的運行速度如此之快，因此我們希望將最常用的信息存儲在緩存中以加快處理速度。當處理器需要信息時，它首先檢查“最近”的位置（1級緩存）。如果該信息不在1級緩存中，則CPU然後檢查2級，然後3級。如果該信息不在這兩個緩存級中的任何一個中，則CPU會到達系統RAM（下一個最快的位置），如果信息不存在，則CPU將查找硬盤驅動器（最慢的位置）。</span></p>
<p id="N1070D" lang=""><span><span>通過使能處理器使用最近的內存位置（緩存），而不是從主內存中檢索信息，可以通過使用緩存來提高系統性能。</span></span></p>
<p id="N10710" lang=""><span><span>最重要的是緩存和性能-更大的緩存可提高CPU性能。</span></span></p>
<p lang=""><span><span><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/FWxtFTHO1ak" width="560"></iframe><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/0PliMca_kVQ" width="560"></iframe></span></span></p>
<h3><span style="color: #ff0000;">Video Displays and Video Cards</span></h3>
<p><span style="color: #000000;"><span>Earlier, we mentioned the various types of expansion cards; now we are going to focus on video/graphics cards. Video cards come in many varieties, and are sold under numerous different naming conventions, like graphics cards, graphics accelerator cards, or graphics adapters. These cards are add-on cards that create the images you see on the display/monitor. They can come in a variety of expansion card types to fit into the various expansion slots, such as PCI express (PCIe) that is currently dominant, advanced graphics port (AGP), or the older PCI slots. While many low-end desktops come with an integrated graphics chip in the CPU instead of using a dedicated card, this is not suitable for 3D games or CAD/CAM (computer-aided manufacturing) workstations. Therefore, many users will opt to use an add-on graphics card, like the one displayed below, to improve their gaming performance.</span></span></p>
<p style="text-align: center;"><span style="color: #000000;"><span><img alt="Red and silver video card with enclosed shroud and dedicated cooling fan." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image12.png"/></span></span></p>
<p style="text-align: center;">Video card. Photo used under CC-BY-NC-ND license from Nelson Wu.</p>
<p id="N106AC" lang="">Video cards contain a very strong processor called a graphics processing unit (GPU) which performs the extensive mathematical calculations involved in rendering the 3D images that most games require. This extensive processing creates a lot of heat. So, properly cooling the graphics card is essential. Many cards, especially lower-powered ones, will use a passive heat sink for quiet operations, or will rely on the case fans to remove the heat. Most modern graphics cards actually use dedicated cooling fans and heat shrouds for better cooling, but they are much noisier due to the fans involved, and often required external power. The image above shows an example of a video card with an enclosed shroud and active cooling fan to draw the heat away from the card.</p>
<p id="N106AF" lang="">Installing video cards is very similar to installing any other expansion card. First, you must go into the BIOS and ensure the slot is enabled (AGP or PCIe x16). This may require some configuration changes, such as the AGP speed, turning off the onboard graphics chip, or adjusting the graphics memory size. Next, you will want to power off the machine, remove the power, use proper ESD precautions, and install the new expansion cards into the proper slot. Next, cable the monitor to the card, plug the computer back into the outlet, and turn on the computer. Once the computer boots into the operating system, you will need to install the device drivers to ensure the operating system can provide the best graphics available from your new card.</p>
<p><span style="color: #ff0000;" title="Quick scroll up">Video Output</span></p>
<p><span style="color: #000000;" title="Quick scroll up"><span>Video output comes in various types of connectors based on the motherboard’s chipset or the graphics card’s chipset. The standard that has been used for the past few decades is the VGA (video graphics adapter), which is a DB-15 style connector. VGA relies on providing a good-quality analog output to a traditional computer monitor. The port for this connector is the blue one on the left in the image below.</span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="Quick scroll up"><span><img alt="Photograph depicting a blue VGA connector, a white DVI connector and a black HDMI type A connector." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image13.png"/></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="Quick scroll up"><span>Blue VGA connector, white DVI connector, and black HDMI type A video connector. Photo used under CC-BY license from Davis Mosans.</span></span></p>
<p id="N106CC" lang="">The next connector port, shown in white in the middle of the photo above, is called DVI, or digital video interface. It comes in DVI-D (for digital output only), or DVI-I (for integrated output that can provide digital or analog output) varieties. A DVI-I connector can be used with an adapter to operate with a traditional VGA monitor in analog mode, as well.</p>
<p id="N106CF" lang="">The third connector, shown on the right of the image, is an HDMI, or high-definition multimedia interface, connection. HDMI comes with three standard connector types: type A (standard), C (mini), and D (micro). Although there is a designation for a type B, it has not been adopted by any manufacturers at this time. Version 2.0 supports 4K UHD and HDR-enabled devices. Micro HDMI has been largely adopted by the mobile telephone market and is included on almost all current models. The special thing about HDMI is that it isn’t limited to carrying just video, but instead carries both audio and video over a single HDMI cable. HDMI is fully digital and doesn’t support analog displays.</p>
<p id="N106D2" lang="">Another connector is DisplayPort, which has two form factors, as shown in the images below. DisplayPort was designed by the Video Electronics Standards Association (VESA). Mini DisplayPort was a standard announced by Apple in 2008 and adopted by VESA in 2009 to be included in version 1.2 (<a href="https://en.wikipedia.org/wiki/DisplayPort#1.2" id="_i_4" lang="" target="_blank">https://en.wikipedia.org/wiki/DisplayPort#1.2</a>).</p>
<p id="N106DB" lang="">This makes it an ideal interface connector for laptops and mobile devices, similar to HDMI mini. It is also similar to HDMI in that it supports both video and audio with resolutions up to 3840x2160, which can support 4K UHD. DisplayPort can be found on IBM-clone (PC) machines and is gaining traction in the marketplace on mobile devices as well.</p>
<p lang="" style="text-align: center;"><img alt="Photograph of a DisplayPort on a Lenovo computer." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image34.jpeg"/></p>
<p lang="" style="text-align: center;">DisplayPort. Photo used under CC-BY license from Wirepath (Yoe).</p>
<p lang="" style="text-align: center;"><img alt="Photograph of a Mini DisplayPort on an Apple computer." height="158" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image14.png" width="237"/></p>
<p lang="" style="text-align: center;">Mini DisplayPort. Photo used under CC-BY-SA license from William Hook.</p>
<p lang="" style="text-align: left;"><span>Component/RGB (red green blue) is another high-definition connector type, but provides its output in analog format and only up to 720p of resolution. This was commonly used by VCR and DVD players, to connect to television sets, but can sometimes be found on older computers as a secondary output connector. Using RCA connectors, component video actually requires three connectors to pass the video signal to the TV, each one with a different colored label of red, green, and blue. Audio signals require separate patch cords.</span></p>
<p lang="" style="text-align: center;"><span><img alt="Photograph of a component/RGB with three ports arranged horizontally. Starting on the left, there is a green port labeled Y, a blue port labeled PB/CB, and a red port labeled PR/CR." height="231" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image15.jpeg" width="307"/></span></p>
<p lang="" style="text-align: center;"><span>Component/RGB. Photo used under CC-BY-SA license from Wikipedia.</span></p>
<p lang="" style="text-align: left;"><span>S-video is a very old type of connection that was originally used to connect video cameras and VCRs to televisions. They provide a resolution of up to 480p in analog signal only. They are often labeled as “TV out” on older computer systems, and are used only as a secondary display output.</span></p>
<p lang="" style="text-align: center;"><span><img alt="Photograph depicting an S-video connection, which is a round connection with seven pins." height="228" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image16.jpeg" width="304"/></span></p>
<p lang="" style="text-align: center;"><span>S-video connection. Photo used under CC-BY-NC-ND license from yum 9 me.</span></p>
<p id="N10720" lang="">Finally, we have the oldest type of video interface, Composite Video. This is by far the lowest quality output of all the types we have discussed. This cable also uses RCA connectors with an output of 480p. This cable combines all the video signals over a single RCA cable, usually labeled as “video,” and the connector itself is yellow. The Composite Video cable operates in analog signal only with the audio signal separate as well. Composite differs from Component in that audio cable are bundled together with the Composite Video (Red, White, Yellow), whereas, Component uses a total of five cables (Red, Green, Blue for video and the standard Red and White for audio).</p>
<p lang="" style="text-align: center;"><img alt="Composite video RCA cable connector with the cables connected. There are three colored connectors: red, white, and yellow. The yellow connector is labeled ‘video,’ and the others are labeled ‘audio.’" height="186" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image17.jpeg" width="279"/></p>
<p lang="" style="text-align: center;">Composite video RCA cable connector. Photo used under CC-BY-NC license from Dani Armengol Garreta.</p>
<p style="text-align: left;"><span lang="zh-TW" style="color: #ff0000;">視頻顯示器和視頻卡<br/><span style="color: #000000;">之前，我們提到了各種類型的擴充卡。現在我們將專注於視頻/圖形卡。視頻卡種類繁多，並以多種不同的命名約定出售，例如圖形卡，圖形加速卡或圖形適配器。這些卡是附加卡，可創建您在顯示屏/監視器上看到的圖像。它們可以有多種擴展卡類型以適合各種擴展插槽，例如當前占主導地位的PCI Express（PCIe），高級圖形端口（AGP）或較舊的PCI插槽。儘管許多低端台式機都在CPU中集成了圖形芯片，而不是使用專用卡，但這不適用於3D遊戲或CAD / CAM（計算機輔助製造）工作站。因此，許多用戶會選擇使用附加圖形卡，</span></span></p>
<p style="text-align: center;"><span lang="zh-TW" style="color: #ff0000;"><span style="color: #000000;"><img alt="紅色和銀色視頻卡，帶有封閉罩和專用冷卻風扇。" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image12.png"/></span></span></p>
<p style="text-align: center;"><span lang="zh-TW" style="color: #ff0000;"><span style="color: #000000;"><span>顯卡。由</span><a href="https://flic.kr/p/2oCdxb" id="_i_1" lang="" target="_blank"><span><span>Nelson Wu</span></span></a><span><span>在CC-BY-NC-ND許可下使用的照片</span><span>。</span></span></span></span></p>
<p id="N106AC" lang="" style="text-align: left;"><span>視頻卡包含一個非常強大的處理器，稱為圖形處理單元（GPU），該處理器執行渲染大多數遊戲所需的3D圖像時涉及的大量數學計算。這種廣泛的處理過程會產生大量熱量。因此，正確冷卻圖形卡至關重要。許多卡（尤其是功率較低的卡）將使用無源散熱器來實現安靜運行，或者依靠機箱風扇散熱。大多數現代圖形卡實際上都使用專用的冷卻風扇和散熱罩來更好地冷卻，但是由於涉及的風扇噪音很大，而且經常需要外部電源，因此它們的噪音要大得多。上圖顯示了一個視頻卡的示例，該視頻卡帶有一個封閉的導流罩和主動冷卻風扇，可將熱量從卡中散出。</span></p>
<p id="N106AF" lang="" style="text-align: left;"><span><span>安裝視頻卡與安裝任何其他擴展卡非常相似。</span><span>首先，您必須進入BIOS並確保已啟用插槽（AGP或PCIe x16）。</span><span>這可能需要進行一些配置更改，例如AGP速度，關閉板載圖形芯片或調整圖形內存大小。</span><span>接下來，您將要關閉機器電源，斷開電源，使用適當的ESD預防措施，然後將新的擴充卡安裝到正確的插槽中。</span><span>接下來，將顯示器連接到插卡，將計算機重新插入電源插座，然後打開計算機電源。</span><span>一旦計算機啟動進入操作系統，您將需要安裝設備驅動程序，以確保操作系統可以提供新卡中可用的最佳圖形。</span></span></p>
<p><span style="color: #ff0000;" title="快速向上滾動">視頻輸出</span></p>
<p><span style="color: #000000;" title="快速向上滾動">視頻輸出來自基於主板芯片組或圖形卡芯片組的各種類型的連接器。過去幾十年來一直使用的標準是VGA（視頻圖形適配器），它是一種DB-15樣式的連接器。VGA依靠向傳統的計算機顯示器提供高質量的模擬輸出。該連接器的端口是下圖左側的藍色端口。</span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><img alt="這張照片描繪了一個藍色的VGA接口，一個白色的DVI接口和一個黑色的HDMI A型接口。" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image13.png"/></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span>藍色的VGA接口，白色的DVI接口和黑色的HDMI A型視頻接口。照片由</span><a href="https://flic.kr/p/fmRvG9" id="_i_3" lang="" target="_blank"><span><span>Davis Mosans</span></span></a><span><span>許可</span><a href="https://flic.kr/p/fmRvG9" id="_i_3" lang="" target="_blank"><span>使用</span></a><span>。</span></span></span></p>
<p id="N106CC" lang=""><span>下一個連接器端口（稱為DVI或數字視頻接口），在上方的照片中間以白色顯示。它具有DVI-D（僅用於數字輸出）或DVI-I（用於可提供數字或模擬輸出的集成輸出）的品種。DVI-I連接器也可以與適配器一起使用，以在模擬模式下與傳統VGA顯示器一起使用。</span></p>
<p id="N106CF" lang=""><span><span>圖像右側顯示的第三個連接器是HDMI或高清多媒體接口連接。</span><span>HDMI帶有三種標準連接器類型：A型（標準），C型（微型）和D型（微型）。</span><span>儘管有B型的名稱，但目前尚未被任何製造商採用。</span><span>2.0版支持支持4K UHD和HDR的設備。</span><span>微型HDMI已被移動電話市場廣泛採用，並且幾乎包含在所有當前型號中。</span><span>HDMI的特殊之處在於，它不僅限於承載視頻，還可以通過一根HDMI電纜同時傳輸音頻和視頻。</span><span>HDMI是全數字的，不支持模擬顯示。</span></span></p>
<p id="N106D2" lang=""><span><span>另一個連接器是DisplayPort，它具有兩種尺寸，如下圖所示。</span><span>DisplayPort由視頻電子標準協會（VESA）設計。</span><span>迷你DisplayPort是Apple在2008年發布的標準，在2009年被VESA採納，並包含在1.2版中（</span></span><a href="https://en.wikipedia.org/wiki/DisplayPort#1.2" id="_i_4" lang="" target="_blank"><span><span>https://en.wikipedia.org/wiki/DisplayPort#1.2</span></span></a><span><span>）。</span></span></p>
<p id="N106DB" lang=""><span><span>這使其成為筆記本電腦和移動設備的理想接口連接器，類似於HDMI mini。</span><span>它也與HDMI類似，它同時支持視頻和音頻，分辨率高達3840x2160，可以支持4K UHD。</span><span>DisplayPort可以在IBM克隆（PC）機器上找到，並且在移動設備市場上也越來越受歡迎。</span></span></p>
<p lang="" style="text-align: center;"><span><span><img alt="聯想計算機上DisplayPort的照片。" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image34.jpeg"/></span></span></p>
<p lang="" style="text-align: center;"><span><span><span>DisplayPort。照片由</span><a href="https://commons.wikimedia.org/wiki/File:Lenovo_x220_dp_crop.jpg" id="_i_6" lang="" target="_blank"><span><span>Wirepath（Yoe）</span></span></a><span><span>根據CC-BY許可使用</span><span>。</span></span></span></span></p>
<p lang="" style="text-align: center;"><span><span><span><span><img alt="迷你DisplayPort在Apple計算機上的照片。" height="154" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image14.png" width="232"/></span></span></span></span></p>
<p lang="" style="text-align: center;"><span><span><span><span><span>迷你DisplayPort。照片由</span><a href="https://www.flickr.com/photos/williamhook/2971278105/in/photolist-5xs54D-5wyzsR-5wyD9V-5xwstY-5wyAca-5wyBM4-5wyAxi-5wyyBR-5wCVQ3-5xwrKC-5wCRuj-5wCNnf-5wyCJv-5wyCd8-5wyASD-5wyybV-5wyu9H-5xws57-5wyw34-5wyzQ8-5wyz5z-5wyuyH-5wyxmc-5wCPwA-5wCQed-5wCPRN" id="_i_8" lang="" target="_blank"><span><span>William Hook</span></span></a><span><span>根據CC-BY-SA許可使用</span><span>。</span></span></span></span></span></span></p>
<p lang="" style="text-align: left;"><span><span><span><span><span><span><span>Component / RGB（紅色，綠色，藍色）是另一種高清連接器類型，但是以模擬格式提供其輸出，並且分辨率最高僅為720p。</span><span>VCR和DVD播放器通常使用它來連接電視機，但是有時可以在較舊的計算機上找到它作為輔助輸出連接器。</span><span>使用RCA連接器，分量視頻實際上需要三個連接器才能將視頻信號傳遞到電視，每個連接器具有不同顏色的紅色，綠色和藍色標籤。</span><span>音頻信號需要單獨的跳線。</span></span></span></span></span></span></span></p>
<p lang="" style="text-align: center;"><span><span><span><span><span><span><span><img alt="水平排列三個端口的組件/ RGB的照片。 從左側開始，有一個標記為Y的綠色端口，一個標記為PB / CB的藍色端口和一個標記為PR / CR的紅色端口。" height="198" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image15.jpeg" width="263"/></span></span></span></span></span></span></span></p>
<p lang="" style="text-align: center;"><span><span><span><span><span><span><span><span>分量/ RGB。由</span><a href="https://en.wikipedia.org/wiki/Component_video#/media/File:Component_video_jack.jpg" id="_i_10" lang="" target="_blank"><span><span>Wikipedia</span></span></a><span><span>根據CC-BY-SA許可使用的照片</span><span>。</span></span></span></span></span></span></span></span></span></p>
<p lang="" style="text-align: left;"><span><span><span><span><span><span><span><span><span><span>S-video是一種非常古老的連接類型，最初用於將攝像機和VCR連接到電視。</span><span>它們僅在模擬信號中提供高達480p的分辨率。</span><span>在較舊的計算機系統上，它們通常被標記為“ TV out”，並且僅用作輔助顯示輸出。</span></span></span></span></span></span></span></span></span></span></p>
<p lang="" style="text-align: center;"><span><span><span><span><span><span><span><span><span><span><img alt="描繪S視頻連接的照片，它是七個針腳的圓形連接。" height="201" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image16.jpeg" width="269"/></span></span></span></span></span></span></span></span></span></span></p>
<p lang="" style="text-align: center;"><span><span><span><span><span><span><span><span><span><span><span>S視頻連接。照片由</span><a href="https://www.flickr.com/photos/yum9me/" id="_i_12" lang="" target="_blank"><span><span>yum 9 me</span></span></a><span><span>根據CC-BY-NC-ND許可使用</span><span>。</span></span></span></span></span></span></span></span></span></span></span></span></p>
<p lang="" style="text-align: left;"><span><span><span><span><span><span><span><span><span><span><span><span><span>最後，我們擁有最古老的視頻界麵類型，即復合視頻。</span><span>這是迄今為止我們討論過的所有類型中質量最低的產品。</span><span>該電纜還使用輸出為480p的RCA連接器。</span><span>該電纜通過一條RCA電纜（通常標記為“視頻”）合併所有視頻信號，並且連接器本身為黃色。</span><span>複合視頻電纜僅在模擬信號和音頻信號分開的情況下工作。</span><span>Composite與Component的不同之處在於音頻電纜與Composite Video（紅色，白色，黃色）捆綁在一起，而Component總共使用了五根電纜（紅色，綠色，藍色用於視頻，標準紅色和白色用於音頻）。</span></span></span></span></span></span></span></span></span></span></span></span></span></p>
<p lang="" style="text-align: center;"><span><span><span><span><span><span><span><span><span><span><span><span><span><img alt="複合視頻RCA電纜連接器，已連接電纜。 有三種顏色的連接器：紅色，白色和黃色。 黃色的連接器標記為“視頻”，其他的連接器標記為“音頻”。" height="185" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image17.jpeg" width="277"/></span></span></span></span></span></span></span></span></span></span></span></span></span></p>
<p lang="" style="text-align: center;"><span><span><span><span><span><span><span><span><span><span><span><span><span><span>複合視頻RCA電纜連接器。照片由</span><a href="https://www.flickr.com/photos/parap/" id="_i_14" lang="" target="_blank"><span><span>Dani Armengol Garreta</span></span></a><span><span>根據CC-BY-NC許可</span><a href="https://www.flickr.com/photos/parap/" id="_i_14" lang="" target="_blank"><span>使用</span></a><span>。</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></p>
<h3 style="text-align: left;"><span style="color: #ff0000;">Storage Devices- Overview</span></h3>
<p><span style="color: #000000;"><span>As we discussed in a previous module, storage is one function that makes a computer a computer. So, storage devices are a critical component. Storage devices hold all of the bits and bytes that make up the data we process, photographs, music, and more. There are many different types of storage devices used with modern computers, including hard drives, optical drives, and external drives. Some computers still have legacy storage devices such as floppy disks.</span></span></p>
<p><span style="color: #ff0000;" title="Quick scroll up">Storage Devices- Optical Drives</span></p>
<p id="N10699" lang="">Optical drives refer to any disk drive that uses optical media, such as CDs, DVDs, or Blu-ray disks. Each disk has a different storage capacity due to the different wavelength of light the laser uses to read the disk, with shorter wavelengths enabling more data to be stored in the same physical space. CDs use infrared light, which has a long wavelength. DVDs use a red laser light, a light with a medium wavelength. Blu-ray uses a blue laser light, which has the shortest wavelength. A CD can hold 700 MB of data, or 80 minutes of music, a DVD can hold 4.7 GB on a standard disc and 8.4 GB on a dual-layer disc. Blu-ray disks can hold 25 GB on a standard disk and 50 GB on a dual-layer disc. Most contemporary workstations have a DVD writer, but Blu-ray writers are becoming more common. Also, each successive technology is backward compatible with the others, therefore a Blu-ray player can also read DVDs and CDs. However, a CD or DVD player cannot read a Blu-ray.</p>
<p id="N1069C" lang="">The different devices use different nomenclature for their capabilities. A CD-ROM, DVD-ROM, and BD-ROM (Blu-ray) all indicate that the device is a read-only memory (ROM) device. A device that is recordable only once is identified with an “R.” On a CD-R, DVD-R, DVD+R or BD-R, the contents of the disc cannot be changed after writing it the first time. The third category of devices are identified as “RW” devices, and known as write-many, write/rewrite, or erasable. This category includes CD-RW, DVD-RW, DVD+RW, DVD-RAM, and the BD-RE disc types.</p>
<p id="N1069F" lang="">The speed of an optical drive is described using an “X-rating.” The original CD players could read at 1X (one times), or 150 KBps. The 1X speed is the speed at which your audio CD drive plays your favorite song. DVD players operate at 1.385 MBps (so that is the 1X speed for that type of device). Blu-ray players operate at 4.5 MBps. When buying a drive, you will see the rating listed, such as a 52X CD player, which means it operates 52 times as fast as the original 150 KBps, or 7800 KBps, which is 7.8 MBps. The 1X for each device is the equivalent to listening to a music CD, watching a DVD, or watching a Blu-ray movie in a traditional player.</p>
<p><span style="color: #ff0000;" title="Quick scroll up">Storage Devices- External Devices</span></p>
<p><span style="color: #000000;" title="Quick scroll up">eSATA is an extension of SATA used for external devices. The port looks identical to a regular SATA port and uses the same cables as a SATA port. Using eSATA can be thought of like using an extension cord. It brings the SATA port to the external portion of the computer's case. If your computer doesn’t have an eSATA port, you can purchase eSATA host adapters that fit in an expansion slot, such as a PCIe x1 or PCIe x4. The speed of eSATA can be 3–6 Gbps, which is very comparable to USB 3.0 speeds of 5 Gbps.</span></p>
<p style="text-align: center;"><span style="color: #000000;" title="Quick scroll up"><img alt="Photograph depicting an eSATA port with two screws on either side. The port is a small rectangle and a small copper filament can be seen inside." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image18.png"/></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="Quick scroll up"><span>eSATA port. Photo used under CC-BY-NC-ND license from </span><a href="https://flic.kr/p/8FV9Az" id="_i_1" lang="" target="_blank">yum 9 me</a><span>.</span></span></p>
<p id="N106BE" lang="">Another form of storage is the flash memory card. It is a type of memory that retains its contents without electricity and is very durable. These are commonly used in digital media players, cameras, and USB thumb drives. These cards come in an enormous variety with nearly 50 different types created, but only a few have become common. These common cards include SD, MMC, Memory Stick, and XD. Some computers have built-in readers for these cards with memory slots, but if your computer doesn’t, an external multi-slot card reader can be added by USB for about $10.</p>
<p style="text-align: center;"><img alt="A photograph depicting five flash memory cards. Three of the cards are 4 GB and are labeled SanDisk Extreme III. One memory card is labeled SanDisk 4.0 GB. One memory card is labeled CompactFlash 1 GB." height="203" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image19.png" width="305"/></p>
<p style="text-align: center;"><span>Flash memory cards. Photo used under CC-BY-ND license from </span><a href="https://flic.kr/p/6nTw9A" id="_i_3" lang="" target="_blank">Sam-Cat</a><span>.</span></p>
<p style="text-align: left;"><span>USB flash drives are commonplace today and have replaced floppy disks as the removable media of choice. They are small in physical size and large in memory capability, with the ability to store 64 GB or more of data on a single “stick.” They are popular and easy to use, since they don’t require a special card reader, because the USB device has one built-in. They are often formatted with the FAT-16, FAT-32, or exFAT file system and are ready to use straight out of the box. Simply plug the device into an available USB port, the operating system recognizes it, and you can begin copying, deleting, and modifying files.</span></p>
<p style="text-align: center;"><span><img alt="Photograph depicting a USB flash drive. It is blue plastic and rectangular. There is a cap that is removed and set to the side, exposing the metal USB connector." height="173" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image20.jpeg" width="300"/></span></p>
<p style="text-align: center;"><span>USB flash drive. Photo used with permission from <a href="http://www.123rf.com/profile_vales1989" id="_i_5" lang="" target="_blank">123 RF</a><span>.</span></span></p>
<p><span style="color: #ff0000;" title="Quick scroll up">Storage Devices- Legacy Devices</span></p>
<p><span style="color: #000000;" title="Quick scroll up"><span>Floppy disks dominated the removable storage arena until the late 1990s, and now they are nearly extinct in most organizations. While some removable USB thumb drives can store 64 GB or more of data, floppy disks usually only stored 1.44 MB of data. That means a single thumb drive can store the information from more than 60,000 floppy disks! Floppy disks used flexible magnetic media surrounded by a rigid plastic case. The most common floppy (shown in the bottom image) was the 3.5” floppy, which was named based on the diameter of the magnetic media inside the plastic case. It used to be commonplace to find a floppy disk drive on every computer, which was connected using a mini-molex or BERG power cable and a 34-pin internal IDE/PATA cable. Contemporary machines typically do not have these drives, as they have fallen out of favor with the public. If you have a need for a floppy drive, one can be purchased for less than $20 that can connect to your computer using your USB port. Windows always reserves the A:\ and B:\ drives for the floppy disk drive (FDD), even if your system doesn’t have one.</span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="Quick scroll up"><span><img alt="A set of nine 3.5-inch floppy disks, three green and six yellow." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image21.png"/></span></span></p>
<p id="N106F4" lang="" style="text-align: center;">3.5-inch floppy disks. Photo used under CC-BY-NC-ND license from<span> </span><a href="https://flic.kr/p/eGBmiq" id="_i_7" lang="" target="_blank">Grant Frederiksen</a>.</p>
<p style="text-align: left;"><span>The final legacy storage device is the tape drive. Whereas FDDs are completely out of service today, tape drives are still used in some corporate environments. However, cloud computing is a natural solution to replace tape backups in enterprise environments because it not only automates the backup process but sends the data securely offsite. Tape drives were one of the first removable storage devices used to back up system data. Many home users now use external USB hard disks for this purpose, but many enterprise environments still rely on the tape drives, since they can store large amounts of data (up to 3 TB on a single tape), and can have that data easily transferred to a remote facility. Tapes can store data in native (1:1) or compressed (2:1) mode. A tape that can natively store 70 GB, in compressed mode can store 140 GB of data. Most tape drives connect via SCSI ports, but some can be found using IDE/PATA or SATA instead. Also, it is important to remember that if you are using a tape drive system, you must rotate your tapes to prevent them from getting worn out and have a good backup plan. The Tower of Hanoi is a common tape rotation system used by system administrators, and can be helpful in creating your rotational schema.</span></p>
<p style="text-align: center;"><img alt="Photograph of the front of a computer with a 5.25-inch FDD, a 3.5-inch FDD and a tape drive. The tape drive has a tape cassette inserted." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image22.png"/></p>
<p style="text-align: center;"><span>Tape drive. Photo used under CC-BY-NC-ND license from </span><a href="https://flic.kr/p/eiZ84a" id="_i_9" lang="" target="_blank">VinceFL</a><span>.</span></p>
<p style="text-align: left;"><span><span>正如我們在上一個模塊中討論的那樣，存儲是一種使計算機成為計算機的功能。</span><span>因此，存儲設備是關鍵組件。</span><span>存儲設備保留構成我們處理的數據，照片，音樂等的所有位和字節。</span><span>現代計算機使用許多不同類型的存儲設備，包括硬盤驅動器，光盤驅動器和外部驅動器。</span><span>某些計算機仍具有舊式存儲設備，例如軟盤。</span></span></p>
<p><span style="color: #ff0000;" title="快速向上滾動">存儲設備-光盤驅動器</span></p>
<p id="N10699" lang=""><span>光盤驅動器是指使用光盤，CD或DVD或藍光光盤等任何光學介質的磁盤驅動器。由於激光讀取磁盤所使用的光波長不同，每個磁盤具有不同的存儲容量，而較短的波長使更多數據可以存儲在同一物理空間中。CD使用的紅外光波長很長。DVD使用紅色激光，即中等波長的光。藍光使用波長最短的藍色激光。CD可以容納700 MB的數據或80分鐘的音樂，DVD可以在標準光盤上容納4.7 GB，在雙層光盤上可以容納8.4 GB。藍光磁盤在標準磁盤上可以容納25 GB，在雙層磁盤上可以容納50 GB。大多數當代工作站都有DVD刻錄機，但是藍光刻錄機正變得越來越普遍。也，每種相繼的技術都向後兼容，因此藍光播放器還可以讀取DVD和CD。但是，CD或DVD播放器無法讀取藍光。</span></p>
<p id="N1069C" lang=""><span><span>不同的設備為其功能使用不同的命名法。</span><span>CD-ROM，DVD-ROM和BD-ROM（藍光）均表示該設備是只讀存儲器（ROM）設備。</span><span>只能記錄一次的設備用“ R”標識。</span><span>在CD-R，DVD-R，DVD + R或BD-R上，第一次寫入後無法更改光盤的內容。</span><span>第三類設備被標識為“ RW”設備，稱為多次寫入，寫入/重寫或可擦除。</span><span>此類別包括CD-RW，DVD-RW，DVD + RW，DVD-RAM和BD-RE光盤類型。</span></span></p>
<p id="N1069F" lang=""><span><span>光盤驅動器的速度用“ X等級”描述。</span><span>原始CD播放器的讀取速度為1倍（一次）或150 KBps。</span><span>1X速度是音頻CD驅動器播放喜歡的歌曲的速度。</span><span>DVD播放器的運行速度為1.385 MBps（因此，該類型設備的速度為1倍）。</span><span>藍光播放器的運行速度為4.5 MBps。</span><span>購買驅動器時，您會看到列出的等級，例如52X CD播放器，這意味著它的運行速度是原始150 KBps或7800 KBps（7.8 MBps）的52倍。</span><span>每個設備的1X等效於在傳統播放器中聆聽音樂CD，觀看DVD或觀看藍光電影。</span></span></p>
<p><span style="color: #ff0000;" title="快速向上滾動">存儲設備-外部設備</span></p>
<p><span style="color: #000000;" title="快速向上滾動"><span>eSATA是用於外部設備的SATA的擴展。</span><span>該端口看起來與常規SATA端口相同，並且使用與SATA端口相同的電纜。</span><span>可以認為使用eSATA就像使用一根延長線。</span><span>它將SATA端口連接到計算機機箱的外部。</span><span>如果您的計算機沒有eSATA端口，則可以購買適合擴展插槽的eSATA主機適配器，例如PCIe x1或PCIe x4。</span><span>eSATA的速度可以達到3–6 Gbps，與USB 3.0的5 Gbps速度非常可比。</span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><img alt="描繪了eSATA端口的兩側帶有兩個螺釘的照片。 該端口是一個小矩形，內部可以看到一條小的銅絲。" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image18.png"/></span></span></p>
<p id="N106B5" lang="" style="text-align: center;"><span>eSATA端口。照片由</span><a href="https://flic.kr/p/8FV9Az" id="_i_1" lang="" target="_blank"><span>yum 9 me</span></a><span>根據CC-BY-NC-ND許可使用。</span></p>
<p style="text-align: left;"><span>另一種存儲方式是閃存卡。</span><span>它是一種無需通電即可保留其內容的內存，並且非常耐用。</span><span>這些通常用於數字媒體播放器，相機和USB拇指驅動器。</span><span>這些卡種類繁多，創建了將近50種不同的類型，但只有少數幾種很常見。</span><span>這些普通卡包括SD，MMC，Memory Stick和XD。</span><span>某些計算機為這些帶有內存插槽的卡內置了讀卡器，但是如果您的計算機沒有，則可以通過USB添加外部多插槽讀卡器，價格約為10美元。</span></p>
<p style="text-align: center;"><span><img alt="一張描述五個閃存卡的照片。 其中三張卡為4 GB，並標記為SanDisk Extreme III。 一張存儲卡標記為SanDisk 4.0 GB。 一張存儲卡標有CompactFlash 1 GB。" height="201" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image19.png" width="302"/></span></p>
<p style="text-align: center;"><span><span>閃存卡。照片由</span><a href="https://flic.kr/p/6nTw9A" id="_i_3" lang="" target="_blank"><span><span>Sam-Cat</span></span></a><span><span>根據CC-BY-ND許可使用<span> </span></span><span>。</span></span></span></p>
<p style="text-align: left;"><span><span><span><span>USB閃存驅動器在當今很普遍，並且已取代軟盤作為首選的可移動介質。</span><span>它們的物理尺寸很小，內存容量也很大，能夠在單個“棒”上存儲64 GB或更多的數據。</span><span>它們很受歡迎且易於使用，因為它們不需要特殊的讀卡器，因為USB設備內置了一個。</span><span>它們通常使用FAT-16，FAT-32或exFAT文件系統進行格式化，並且可以直接使用。</span><span>只需將設備插入可用的USB端口，操作系統即可識別它，然後您就可以開始復制，刪除和修改文件了。</span></span></span></span></p>
<p style="text-align: center;"><span><span><span><span><img alt="描繪USB閃存驅動器的照片。 它是藍色塑料和矩形。 取下一個蓋子並將其固定在側面，露出金屬USB連接器。" height="175" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image20.jpeg" width="304"/></span></span></span></span></p>
<p style="text-align: center;"><span><span><span><span><span>U盤。照片經</span><a href="http://www.123rf.com/profile_vales1989" id="_i_5" lang="" target="_blank"><span><span>123 RF</span></span></a><span><span>授權使用</span><span>。</span></span></span></span></span></span></p>
<p><span style="color: #ff0000;" title="快速向上滾動">存儲設備-舊版設備</span></p>
<p><span style="color: #000000;" title="快速向上滾動"><span>直到1990年代後期，軟盤一直在移動存儲領域佔據著主導地位，現在在大多數組織中它們幾乎已經絕跡了。</span><span>雖然某些可移動USB拇指驅動器可以存儲64 GB或更多的數據，但是軟盤通常僅存儲1.44 MB的數據。</span><span>這意味著一個拇指驅動器可以存儲來自60,000多個軟盤的信息！</span><span>軟盤使用柔性磁性介質，並由剛性塑料盒包圍。</span><span>最常見的軟盤（如左圖所示）是3.5英寸的軟盤，它是根據塑料盒內部磁性介質的直徑來命名的。</span><span>過去通常在每台計算機上都找到軟盤驅動器，它是使用minimolex或BERG電源線以及34針內部IDE / PATA電纜連接的。</span><span>現代機器通常沒有這些驅動器，</span><span>因為它們已經失去了公眾的青睞。</span><span>如果需要軟盤驅動器，可以用不到20美元的價格購買一個軟盤驅動器，它可以使用USB端口連接到計算機。</span><span>Windows始終為軟盤驅動器（FDD）保留A：\和B：\驅動器，即使您的系統沒有該驅動器也是如此。</span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><img alt="一組九個3.5英寸軟盤，三個綠色和六個黃色。" height="196" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image21.png" width="313"/></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span>3.5英寸軟盤。由</span><a href="https://flic.kr/p/eGBmiq" id="_i_7" lang="" target="_blank"><span><span>Grant Frederiksen</span></span></a><span><span>根據CC-BY-NC-ND許可使用的照片</span><span>。</span></span></span></span></p>
<p style="text-align: left;"><span style="color: #000000;" title="快速向上滾動"><span><span><span><span>最終的舊式存儲設備是磁帶機。</span><span>儘管FDD如今已完全停用，但磁帶驅動器仍在某些公司環境中使用。</span><span>但是，雲計算是替換企業環境中磁帶備份的自然解決方案，因為它不僅可以自動執行備份過程，而且可以安全地將數據發送到異地。</span><span>磁帶驅動器是最早用於備份系統數據的可移動存儲設備之一。</span><span>現在，許多家庭用戶為此使用外部USB硬盤，但是許多企業環境仍然依賴於磁帶驅動器，因為它們可以存儲大量數據（單個磁帶上最多3 TB），並且可以輕鬆地傳輸這些數據。到遠程設施。</span><span>磁帶可以本機（1：1）或壓縮（2：1）模式存儲數據。</span><span>可以本機存儲70 GB的磁帶，</span><span>在壓縮模式下可以存儲140 GB的數據。</span><span>大多數磁帶機都通過SCSI端口連接，但有些可以使用IDE / PATA或SATA找到。</span><span>同樣，重要的是要記住，如果使用的是磁帶驅動器系統，則必須旋轉磁帶以防止其磨損並製定良好的備份計劃。</span><span>河內之塔是系統管理員使用的常見磁帶旋轉系統，可以幫助您創建旋轉模式。</span></span></span></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span><span><span><img alt="具有5.25英寸FDD，3.5英寸FDD和磁帶驅動器的計算機正面的照片。 磁帶機中已插入盒式磁帶。" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH07/webcontent/PCH07/image22.png"/></span></span></span></span></span></p>
<p style="text-align: center;"><span style="color: #000000;" title="快速向上滾動"><span><span><span><span><span>磁帶機。根據</span><a href="https://flic.kr/p/eiZ84a" id="_i_9" lang="" target="_blank"><span><span>VinceFL的</span></span></a><span><span>CC-BY-NC-ND許可使用的</span><a href="https://flic.kr/p/eiZ84a" id="_i_9" lang="" target="_blank"><span>照片</span></a><span>。</span></span></span></span></span></span></span></p>